.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  color: rebeccapurple;
  font-weight: bolder;
  font-size: 50px;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

body {
  height: 100%;
  background: linear-gradient(
    102.7deg,
    rgb(253, 218, 255) 8.2%,
    rgb(223, 173, 252) 19.6%,
    rgb(173, 205, 252) 36.8%,
    rgb(173, 252, 244) 73.2%,
    rgb(202, 248, 208) 90.9%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: cornflowerblue;
}
